@model Ethink.Models.DTO.DTOFinancialReportTreainee
@{
    ViewBag.Title = "FinancialReportTreainee";
    Layout = "~/Views/Shared/_Private_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Profile/Css.css" />



<!--<div class="container">
    <div class="main-body">

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            @if (Model.Course_Trainee.CourseSections.Course.Image == "")
                            {
                                <img src="~/Content/AdminPage/Image/online-course.png" alt="Admin" class="rounded-circle" width="150" height="150">
                            }
                            else
                            {
                                <img src="~/Assets/Users/@Model.Course_Trainee.CourseSections.Course.Image" alt="Admin" class="rounded-circle" width="150" height="150">
                            }
                            <div class="mt-3">
                                <h4>@Model.Course_Trainee.CourseSections.Course.Name</h4>
                                <p class="text-secondary mb-1">@Model.Course_Trainee.CourseSections.Course.Image</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nickname</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Course_Trainee.ApplicationUser.NickName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Course_Trainee.ApplicationUser.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Course_Trainee.ApplicationUser.PhoneNumber
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @if (Model.Course_Trainee.ApplicationUser.Gender)
                                {
                                    <img src="~/Content/AdminPage/Image/man.png" style="height: 30px; width: 30px;" />
                                }
                                else
                                {
                                    <img src="~/Content/AdminPage/Image/woman.png" style="height: 30px; width: 30px;" />
                                }
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">-->
                                @*<a href="@Url.Action("Edit",new { id = Model.Id })" class="btn btn-info">
                                    <i class="fas fa-edit"></i>
                                </a>*@
                            <!--</div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>-->
























<div class="container">
    <div class="main-body">

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            @if (Model.Course_Trainee.CourseSections.Course.Image == "")
                            {
                                <img src="~/Content/AdminPage/Image/online-course.png" alt="Admin" class="rounded-circle" width="150" height="150">
                            }
                            else
                            {
                                <img src="~/Assets/Courses/@Model.Course_Trainee.CourseSections.Course.Image" alt="Admin" class="rounded-circle" width="150" height="150">
                            }
                            <div class="mt-3">
                                <h4>@Model.Course_Trainee.CourseSections.Course.Name</h4>
                                <p class="text-secondary mb-1">
                                    @if (Model.Course_Trainee.CourseSections.Course.DiscountPrice.Any(a => a.StartDate < Model.Course_Trainee.Date && a.EndDate > Model.Course_Trainee.Date))
                                    {
                                    var Dis = Model.Course_Trainee.CourseSections.Course.DiscountPrice
                                    .Where(a => a.StartDate < Model.Course_Trainee.Date && a.EndDate > Model.Course_Trainee.Date).OrderBy(a => a.EndDate).Last().DiscountValue;
                                    var value = Convert.ToDouble(Model.Course_Trainee.CourseSections.Course.Price) - Convert.ToDouble(Model.Course_Trainee.CourseSections.Course.Price) * (Dis / 100);
                                    <span> @Dis % => @value $</span>
                                    }
                                    else
                                    {
                                    <span>@Model.Course_Trainee.CourseSections.Course.Price $</span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Number Of Section</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Course_Trainee.CourseSections.Number
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Max Count Of Trainee</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Course_Trainee.CourseSections.MaxCount
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Trainer</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Course_Trainee.CourseSections.Employee.ApplicationUser.NickName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Payment</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @if (Model.SumDiscount == 0)
                                {
                                <p>
                                    @Model.Course_Trainee.ApplicationUser.PayCard.Where(a => a.PayLog.Any(p => !p.Status && p.IdCourseSection == Model.Course_Trainee.IdCourseSections)).Sum(a => a.PayLog.Where(p => !p.Status && p.IdCourseSection == Model.Course_Trainee.IdCourseSections).Sum(p => p.Value)) $ Of
                                    @{
                                        if (Model.Course_Trainee.CourseSections.Course.DiscountPrice.Any(a => a.StartDate < Model.Course_Trainee.Date && a.EndDate > Model.Course_Trainee.Date))
                                        {
                                            var Dis = Model.Course_Trainee.CourseSections.Course.DiscountPrice
                                                .Where(a => a.StartDate < Model.Course_Trainee.Date && a.EndDate > Model.Course_Trainee.Date).OrderBy(a => a.EndDate).Last().DiscountValue;
                                            var value = Convert.ToDouble(Model.Course_Trainee.CourseSections.Course.Price) - Convert.ToDouble(Model.Course_Trainee.CourseSections.Course.Price) * (Dis / 100);
                                            <span> @Dis % => @value $</span>
                                        }
                                        else
                                        {
                                            <span>@Model.Course_Trainee.CourseSections.Course.Price $</span>
                                        }
                                    }
                                </p>
                                }
                                else
                                {
                                    <p>
                                        @Model.Course_Trainee.ApplicationUser.PayCard.Where(a => a.PayLog.Any(p => !p.Status && p.IdCourseSection == Model.Course_Trainee.IdCourseSections)).Sum(a => a.PayLog.Where(p => !p.Status && p.IdCourseSection == Model.Course_Trainee.IdCourseSections).Sum(p => p.Value)) $ 
                                    </p>
                                }
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>
















<div class="container">
    <div class="main-body">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    @foreach (var item in Model.Course_Trainee.CourseSections.PayLog)
                    {
                        <div class="row">
                            <div class="col-4" style="text-align: center;">
                                @if (item.PayCard.Name == "mastercard")
                                {
                                    <img src="~/Content/PayCard/Img/mastercard.png" alt="Admin" class="rounded-circle" width="97" height="100">
                                }
                                @if (item.PayCard.Name == "paypal")
                                {
                                    <img src="~/Content/PayCard/Img/paypal.png" alt="Admin" class="rounded-circle"  width="97" height="100">
                                }
                                @if (item.PayCard.Name == "visa")
                                {
                                    <img src="~/Content/PayCard/Img/visa.png" alt="Admin" class="rounded-circle"  width="97" height="100">
                                }
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-sm-3 text-secondary">
                                        <p>@item.Date</p>
                                    </div>
                                    <div class="col-sm-3 text-secondary">
                                        @if (item.Status)
                                        {
                                            <p style="color:red">Problem</p>
                                        }
                                        else
                                        {
                                            <p style="color:green">No Problem</p>
                                        }
                                    </div>
                                    <div class="col-sm-3 text-secondary">
                                        <p>@item.Value $ @item.PayCard.ApplicationUser.NickName</p>
                                    </div>
                                    <div class="col-sm-3 text-secondary">
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>












