@model Ethink.Models.DTO.DTOCourseSection

@{
    ViewBag.Title = "DetailsMyCourse";
    Layout = "~/Views/Shared/_Private_Layout.cshtml";
}


























<link rel="stylesheet" href="~/Content/Profile/Css.css" />



<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            @if (Model.Course.Course.Image == "")
                            {
                                <img src="~/Content/AdminPage/Image/online-course.png" alt="Admin" class="rounded-circle" width="150" height="150">
                            }
                            else
                            {
                                <img src="~/Assets/Courses/@Model.Course.Course.Image" alt="Admin" class="rounded-circle" width="150" height="150">
                            }
                            <div class="mt-3">
                                <h4>@Model.Course.Course.Name</h4>
                                <p class="text-secondary mb-1">
                                    @if (Model.Course.Course.DiscountPrice.Any(a => a.EndDate >= Model.ApplicationUser.Course_Trainee.FirstOrDefault(c => c.CourseSections.Id == Model.Course.Id).Date
                                                 && a.StartDate <= Model.ApplicationUser.Course_Trainee.FirstOrDefault(c => c.CourseSections.Id == Model.Course.Id).Date))
                                                {
                                                    {
                                                        var Dis = Model.Course.Course.DiscountPrice.OrderBy(a => a.EndDate).Last().DiscountValue;
                                                        var value = Convert.ToDouble(Model.Course.Course.Price) - Dis /100 * (Convert.ToDouble(Model.Course.Course.Price));
                                    <span>
                                        @Model.Course.Course.Price $ @Dis % => @value
                                    </span>
                                                    }
                                                }
                                                else
                                                {
                                <span>
                                    @Model.Course.Course.Price $
                                </span>
                                                }

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Number Of Section</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Course.Number
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Max Count Of Trainee</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Course.MaxCount
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Name Trainer</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Course.Employee.ApplicationUser.NickName
                            </div>
                        </div>
                        <hr>


                        @if (Model.Course.Course.EndDate <= DateTime.Now)
                       {
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Certificate</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            @if (Model.ApplicationUser.Certificates.Any())
                             {
                                <h6 class="mb-0">
                                    @Html.ActionLink("Download Certificates", "DownloadCertificates", new { Name = Model.ApplicationUser.Certificates.Last().Name })
                                </h6>
                            }
                            else
                            {
                                <h6>Empty</h6>
                            }
                        </div>
                        <div class="col-sm-3">
                            <h6 class="mb-0">Average</h6>
                        </div>
                        <div class="col-sm-3">
                            <h6 class="mb-0">
                                @Model.Exam.Average(a => a.TraineeExam.Sum(s => s.Mark))
                                @if (Model.Exam.Where(a=> a.CourseSections.Id == Model.Course.Id && a.FullMark <= a.Questions.Sum(q => q.Mark)).Average(a => a.TraineeExam.Sum(s => s.Mark)) < Model.Exam.Average(a => a.TraineeExam.Sum(s => s.Mark)) / 2)
                                {
                                    <i class="fas fa-clipboard-list" style="color: red;"></i>
                                }
                                else
                                {
                                    <i class="fas fa-clipboard-list" style="color: green;"></i>
                                }
                            </h6>
                        </div>
                    </div>
                            <hr>

                        }
                        <div class="row">
                            <div class="col-sm-4">
                                <button type="button" onclick="ShowMaterial()" class="btn btn-primary btn-lg btn-block">Materials</button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" onclick="ShowExam()" class="btn btn-primary btn-lg btn-block">Exams</button>
                            </div>
                            <div class="col-sm-4">
                                @if (Model.ApplicationUser.PayCard.Any())
                                {
                                    <button type="button" onclick="ShowPayments()" class="btn btn-primary btn-lg btn-block">Payments</button>
                                }
                                else
                                    {
                            <button type="button" class="btn btn-primary btn-lg btn-block">Make Sure Your Payment Cards</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gutters-sm" id="Material" style="display:none">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Video</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Name
                            </div>
                        </div>
                        <hr />
                        @foreach (var item in Model.MaterialsVideo)
                        {
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@item.Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <video style=" height: 300px; width: 450px;" controls>
                                        <source src="~/Assets/Courses/Materials/@item.Name" />
                                    </video>
                                </div>
                            </div>
                            <hr>
                        }
                        <br />
                        <hr />
                        <br />

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Document</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Name
                            </div>
                        </div>
                        <hr />
                        @foreach (var item in Model.MaterialsDoc)
                        {
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">
                                        @Html.ActionLink("DownloadFile", "DownloadFile", new { Name = item.Name })
                                    </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @item.Name
                                </div>
                            </div>
                            <hr>
                        }
                    </div>
                </div>
            </div>
        </div>



        <div class="row gutters-sm" id="Exam" style="display:none">
            @if (!Model.Exam.Any())
            {
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary btn-lg btn-block">Empty</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <hr />
            }

            @foreach (var item in Model.Exam)
            {
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Name</h6>
                        </div>
                        <div class="col-sm-7 text-secondary">
                            @item.Name
                        </div>
                        <div class="col-sm-2">
                            @if (item.TraineeExam.FirstOrDefault(a => a.ApplicationUser.UserName == User.Identity.Name) != null)
                            {
                                <p>
                                    @*@item.TraineeExam.FirstOrDefault(a => a.ApplicationUser.UserName == User.Identity.Name).HistorySolutions.Where(a => a.Solutions.IsTrue).Sum(a => a.Questions.Mark) / @item.FullMark*@

                                    @item.TraineeExam.FirstOrDefault(a => a.IdTrainee == Model.ApplicationUser.Id).Mark / @item.FullMark
                                    <span>
                                        @*@if (item.TraineeExam.FirstOrDefault(a => a.ApplicationUser.UserName == User.Identity.Name).HistorySolutions.Where(a => a.Solutions.IsTrue).Sum(a => a.Questions.Mark) < (item.FullMark / 2))*@
                                        @if (item.TraineeExam.FirstOrDefault(a => a.IdTrainee == Model.ApplicationUser.Id).Mark < (item.FullMark / 2))
                                        {
                                            <i class="fas fa-clipboard-list" style="color: red;"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-clipboard-list" style="color: green;"></i>
                                        }
                                    </span>
                                </p>
                            }
                            else
                            {
                                if (item.StartTime <= DateTime.Now && item.EndTime >= DateTime.Now && item.FullMark <= item.Questions.Sum(a => a.Mark))
                                {
                                    <i class="fas fa-check" style="color: green;"></i>
                                }
                                else
                                {
                                    if (item.StartTime > DateTime.Now)
                                    {
                                        <i class="far fa-clock" style="color: green;"></i>
                                    }
                                    else
                                    {
                                        if (item.TraineeExam.FirstOrDefault(a => a.IdTrainee == Model.ApplicationUser.Id) == null)
                                        {
                                        <i class="fas fa-times" style="color: red;"></i>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Date</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            @item.StartTime
                        </div>
                        <div class="col-sm-3 text-secondary">
                            =>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            @item.EndTime
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Mark</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @item.FullMark
                            @if (item.FullMark > item.Questions.Sum(a => a.Mark))
                            {
                                <i class="fas fa-exclamation-triangle"></i>
                            }
                            else
                            {
                                <i class="far fa-check-circle"></i>
                            }
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            @if (item.StartTime < DateTime.Now)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <a href="@Url.Action("StartExam",new { id = item.Id})" class="btn btn-info btn-lg btn-block">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
            }
        </div>



        <div class="row gutters-sm" id="Payments" style="display:none">

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <ul class="list-group shadow">
                        <li class="list-group-item">
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1">
                                    <h5 class="mt-0 font-weight-bold mb-2">
                                        @*@Model.SumPay $ Of
        @if (Model.SumDiscount != 0)
        {
            <span>@Model.SumDiscount $</span>
        }
        else
        {
            <span>@Model.Course.Course.Price $</span>
        }*@
                                        @*@Model.ApplicationUser.PayCard.Where(a => a.PayLog.Any(p => !p.Status && p.IdCourseSection == Model.)).Sum(a => a.PayLog.Where(p => !p.Status && p.IdCourseSection == Model.Course_Trainee.IdCourseSections).Sum(p => p.Value)) $ Of*@

                                        @Model.Course.PayLog.Where(a=>!a.Status).Sum(a=>a.Value) $ Of
                                        @if (Model.Course.Course.DiscountPrice.Any(a => a.EndDate >= Model.ApplicationUser.Course_Trainee.FirstOrDefault(c => c.CourseSections.Id == Model.Course.Id).Date
&& a.StartDate <= Model.ApplicationUser.Course_Trainee.FirstOrDefault(c => c.CourseSections.Id == Model.Course.Id).Date))
                                        {
                                            {
                                                var Dis = Model.Course.Course.DiscountPrice.OrderBy(a => a.EndDate).Last().DiscountValue;
                                                var value = Convert.ToDouble(Model.Course.Course.Price) - Dis / 100 * (Convert.ToDouble(Model.Course.Course.Price));
                                                <span>
                                                    @Model.Course.Course.Price $ @Dis % => @value $

                                                </span>
                                            }
                                        }
                                        else
                                        {
                                            <span>
                                                @Model.Course.Course.Price $

                                            </span>
                                        }
                                    </h5>
                            </div>
                                </div>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="@Url.Action("PaymentLog",new { id = Model.Course.Id})" class="btn btn-success btn-lg btn-block">
                                <i class="fas fa-money-check-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container py-5">

                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <ul class="list-group shadow">

                            @foreach (var item in Model.Course.PayLog)
                            {
                                <li class="list-group-item">
                                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                        <div class="media-body order-2 order-lg-1">
                                            <h5 class="mt-0 font-weight-bold mb-2">Date : @item.Date</h5>
                                            <p class="font-italic text-muted mb-0 small">
                                                Pay Card : @item.PayCard.Name
                                                @if (item.Status)
                                                {
                                                    <i class="fas fa-exclamation" style="color:red"></i>
                                                }
                                                else
                                                {
                                                    <i class="fas fa-check" style="color:green"></i>
                                                }
                                            </p>
                                            <div class="d-flex align-items-center justify-content-between mt-1">
                                                <h6 class="font-weight-bold my-2">@item.Value $</h6>
                                            </div>
                                        </div>
                                        @if (item.PayCard.Name == "mastercard")
                                        {
                                            <img src="~/Content/PayCard/Img/mastercard.png" width="200" class="ml-lg-5 order-1 order-lg-2">
                                        }
                                        @if (item.PayCard.Name == "paypal")
                                        {
                                            <img src="~/Content/PayCard/Img/paypal.png" width="200" class="ml-lg-5 order-1 order-lg-2">
                                        }
                                        @if (item.PayCard.Name == "visa")
                                        {
                                            <img src="~/Content/PayCard/Img/visa.png" width="200" class="ml-lg-5 order-1 order-lg-2">
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>


        </div>



    </div>
</div>


















@section scripts{
    <script>
        var Material = document.getElementById("Material");
        var Exam = document.getElementById("Exam");
        var Payments = document.getElementById("Payments");

        function ShowMaterial() {
            Material.style.display = "block";
            Exam.style.display = "none";
            Payments.style.display = "none";
        }
        function ShowExam() {
            Material.style.display = "none";
            Exam.style.display = "block";
            Payments.style.display = "none";
        }
        function ShowPayments() {
            Material.style.display = "none";
            Exam.style.display = "none";
            Payments.style.display = "block";
        }

    </script>
}

