@model IEnumerable<Ethink.Models.RequestRegister>

@{
    ViewBag.Title = "ListRequestRegister";
    Layout = "~/Views/Shared/_Private_Layout.cshtml";
}





<div class="container py-5">

    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Requests</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">

            <ul class="list-group shadow">

                @foreach (var item in Model)
                {
                <li class="list-group-item">
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">@item.CourseSections.Course.Name</h5>
                            <p class="font-italic text-muted mb-0 small">@item.CourseSections.Course.Categories.Name</p>
                            <p class="font-italic text-muted mb-0 small">Start Date : @item.CourseSections.Course.StartDate</p>
                            <p class="font-italic text-muted mb-0 small">End Date : @item.CourseSections.Course.EndDate</p>
                            <p class="font-italic text-muted mb-0 small">Number : @item.CourseSections.Number, Max Count : @item.CourseSections.MaxCount</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">
                                    @if (@item.CourseSections.Course.DiscountPrice.Any(a => a.EndDate > DateTime.Now))
                                    {
                                    <span>
                                        @item.CourseSections.Course.DiscountPrice.OrderBy(a => a.EndDate).Last().DiscountValue % =>
                                        @( Convert.ToDouble(@item.CourseSections.Course.Price) - ((@item.CourseSections.Course.DiscountPrice.OrderBy(a => a.EndDate).Last().DiscountValue / 100) * Convert.ToDouble(@item.CourseSections.Course.Price)))
                                        $
                                    </span>
                                    }
                                    else
                                    {
                                <span>
                                    @item.CourseSections.Course.Price $
                                </span>
                                    }
                                </h6>
                            </div>
                        </div><img src="~/Assets/Courses/@item.CourseSections.Course.Image" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div>
                    <hr />
                    <a href="@Url.Action("CourseDetails", "Trainee",new { id = item.CourseSections.Course.Id })">
                        <i class="fas fa-info-circle btn btn-success"></i>
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
</div>


