@model Ethink.Models.Input_Model.IN_ConfirmPassword
@{
    ViewBag.Title = "ConfirmPassword";
    Layout = "~/Views/Shared/_Public_Layout.cshtml";
}

<img src="/Content/Public_Layout/images/pexels-skitterphoto-1005324.jpg" class="bg">


<div class=" row " id="top">
    <div class="col md 2">
    </div>

    <div class="col-md-8 Form">
        <h3>Refund Password</h3>
        <div class="row">
            <div class="col-md-12">
                <img class="img" src="/Content/Public_Layout/images/education (1).png">
            </div>
            <div class="col-md-12">
                Check Your Email
            </div>
        </div>
        <br>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(a => a.CodeEmail);
            @Html.HiddenFor(a => a.UserName);

            @Html.EditorFor(model => model.CodeConfirm, new { htmlAttributes = new { @type = "password", @class = "form-control", placeholder = "Confirm Code" } })
            @Html.ValidationMessageFor(model => model.CodeConfirm, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @type = "password", @class = "form-control", placeholder = "New Password" } })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @type = "password", @class = "form-control", placeholder = "Confirm Password" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            <br />
            <div style="color:red">
                @ViewBag.Status
            </div>



            <div class="form-button mt-3">
                <button id="submit" type="submit" class="btn btn-primary">Refund</button>
            </div>
        }
    </div>

    <div class="col-md-2">

    </div>


</div>
