
@model Ethink.Models.Input_Model.IN_LogIn

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Public_Layout.cshtml";
}



<div class="hero" style="        position: fixed; height:100%;
        background-image: url('/Content/Public_Layout/images/pexels-skitterphoto-1005324.jpg');"></div>




















<img src="/Content/Public_Layout/images/pexels-skitterphoto-1005324.jpg" class="bg">


<div class=" row " id="top">
    <div class="col md 2">
    </div>

    <div class="col-md-8 Form">
        <h3>LogIn</h3>
        <img class="img" src="/Content/Public_Layout/images/elearning.png">
        <br>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "UserName" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            <br />
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

    <p style="color: red; font-size: 3pc;">
        @ViewBag.Status
        @if (ViewBag.Status == "Password Is Incorrect")
                {
        <a href="@Url.Action("ConfirmPassword",new { Name = Model.UserName})">
            @ViewBag.RefundPassword
        </a>
                }
    </p>
        <div class="form-button mt-3">
                <button id="submit" type="submit" class="btn btn-primary">Log In</button>
            </div>
        }
    </div>

    <div class="col-md-2">

    </div>


</div>


