@model Ethink.Models.Questions

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Private_Layout.cshtml";
}

@*<h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Questions</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mark, "", new { @class = "text-danger" })
            </div>
        </div>

        @foreach (var item in Model.Solutions)
        {
            <div class="form-group">
                @Html.LabelFor(model => item.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => item.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => item.IsTrue, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => item.IsTrue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => item.IsTrue, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@


























@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    @Html.HiddenFor(model=>model.IdExam)

        <div class="container">
            <div class="main-body">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.EditorFor(model => model.Name, new { @required = "required", htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mark</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.EditorFor(model => model.Mark, new { @type = "number", @required = "required", htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Mark, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        @*<div class="container">
            <div class="main-body">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body" style="text-align: center; font-size: 5pc;">
                            Solutions
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="main-body">
                @foreach (var item in Model.Solutions)
                {
                    @Html.Partial("_Question", item)
                }
            </div>
        </div>*@

        <hr />

        <div class="container">
            <div class="main-body">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <hr />
                            <div class="row">
                                <div class="col-sm-12" style="text-align: center; font-size: 2pc; color:red">
                                    <p style="color: red;">@ViewBag.Status</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-secondary">

                                    <button type="submit" class="btn btn-info btn-lg btn-block"><i class="far fa-check-circle"></i></button>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }











@*@using (Html.BeginForm())
    {
        @Html.TextBoxFor(m => m.Name)


        <table id="children">
            <tbody>

                @foreach (var child in Model.Solutions)
                {
                    @Html.Partial("_Question", child)
                }
            </tbody>

        </table>
        <button type="button" id="addChild">Add Child</button>

        <button type="submit"> Save</button>
    }





    @section scripts{
        <script>

            $(function () {
                console.log("StartOut");
                $("#addChild").click(function () {
                    console.log("StartIn");
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("AddChild", "Questions")",
                        success: function (partialView) {
                            $('children> tbody:last-child').append(partialView);
                        }
                    });
                })
            });

        </script>
    }*@












