@model Ethink.Models.Employee

@{
    ViewBag.Title = "DetailsEmployee";
    Layout = "~/Views/Shared/_Private_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Profile/Css.css" />



<div class="container">
    <div class="main-body">

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            @if (Model.ApplicationUser.ImageName == "")
                            {
                                <img src="~/Content/AdminPage/Image/online-course.png" alt="Admin" class="rounded-circle" width="150" height="150">
                            }
                            else
                            {
                                <img src="~/Assets/Users/@Model.ApplicationUser.ImageName" alt="Admin" class="rounded-circle" width="150" height="150">
                            }
                            <div class="mt-3">
                                <h4>@Model.ApplicationUser.UserName</h4>
                                <p class="text-secondary mb-1">@Model.ApplicationUser.NickName</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nickname</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.ApplicationUser.NickName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.ApplicationUser.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.ApplicationUser.PhoneNumber
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Salary</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Salary
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @if (Model.ApplicationUser.Gender)
                                {
                                    <img src="~/Content/AdminPage/Image/man.png" style="height: 30px; width: 30px;" />
                                }
                                else
                                {
                                    <img src="~/Content/AdminPage/Image/woman.png" style="height: 30px; width: 30px;" />
                                }
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                                <div class="col-sm-12">
                                    <a href="@Url.Action("AddPaymentSalary", new { id = Model.Id })" class="btn btn-success btn-lg btn-block">
                                        <i class="far fa-money-bill-alt"></i>
                                    </a>
                                </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>




































@if (Model.PaySalary.Any())
{
<div class="container">
    <div class="main-body">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    @foreach (var item in Model.PaySalary)
                    {
                        <div class="row">
                            <div class="col-4" style="text-align: center;">
                                <img src="~/Content/Accountant/Image/payment-method.png" alt="Admin" class="rounded-circle" width="97" height="100">
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-sm-3 text-secondary">
                                        <p>@item.Date</p>
                                    </div>
                                    <div class="col-sm-3 text-secondary">
                                        <p>@item.Value $</p>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
}

